/* -----------------------
        AUDIO
--------------------------*/
.box-audio {
    height: 10px;
    background-color: var(--gray);
    width: 87px;
    position: absolute;
    bottom: 126px;
    right: -14px;
    padding: 0.5rem 1rem;
    border-radius: 1rem 0 0 1rem;
}

.play-music {
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 4px;
}

.music-animation {
    display: -webkit-box;
    display: flex;
    margin-right: 10px;
    -webkit-box-align: end;
    align-items: flex-end;
    position: relative;
    top: -2px;
}

.music-animation.on .bar {
    -webkit-animation: bar 1.2s infinite;
    animation: bar 1.2s infinite;
}

.music-animation.on .bar2 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.music-animation.on .bar3 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.music-animation.on .bar4 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.music-animation.on .bar5 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.music-toggle {
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.music-toggle a {
    color: #fff;
    font-size: .8rem;
}

.music-toggle:hover:after {
    width: 100%;
}

.bar {
    width: 1px;
    background-color: #fff;
    height: 2px;
    display: block;
    margin: 0 1px;
}

@-webkit-keyframes bar {
    0% {
        height: 4px;
    }

    50% {
        height: 14px;
    }

    100% {
        height: 4px;
    }
}

@keyframes bar {
    0% {
        height: 4px;
    }

    50% {
        height: 14px;
    }

    100% {
        height: 4px;
    }
}

/* -----------------------
        SECTION 1
--------------------------*/
.section-home {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding: 1.5rem 0 0 0;
    background-color: var(--bg-section-light);
}
.home-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.home-title {
    align-items: flex-start;
    gap: .5rem;
}

.home-title h1 {
    margin: 0;
    font-family: var(--font-great-vibes);
    font-weight: 400;
    font-size: xx-large;
    height: 28px;
}

.home-title img {
    width: 2.3rem;
}

.home-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.home-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--bg-gradient);
    padding: 1.2rem 1rem;
    color: white;
}

.home-txt p {
    margin: 0;
}

/* -----------------------
        SECTION 2
--------------------------*/
.section-info {
    position: relative;
}

.overlay-section-info {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay-section-info span {
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.overlay-section-info span:nth-child(1) {
    background-image: var(--img-overlay-stain-1);
    height: 140px;
    left: -199px;
    top: -73px;
}

.overlay-section-info span:nth-child(2) {
    background-image: var(--img-overlay-stain-2);
    height: 140px;
    right: -177px;
    top: 243px;
}

.box-info {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    position: relative;
    z-index: 2;
}

.info-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.info-primary h1 {
    margin: 0;
    font-size: xx-large;
    font-family: var(--font-great-vibes);
    font-weight: 400;
    text-align: center;
    color: var(--bg-dorado-4);
}

.info-primary p {
    text-align: center;
}

.info-secundary {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.info-secundary ul {
    margin: 0;
}

.info-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .4rem;
}

.info-content b {
    color: var(--bg-dorado-4);
}

/* -----------------------
        SECTION 3
--------------------------*/
.section-date {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.date-info {
    flex-direction: column;
    gap: 1rem;
}

.date-info img {
    display: block;
    margin: 0 auto;
}

.date-text {
    text-align: center;
    width: 90%;
}

.date-box {
    text-align: center;
}

.date-box h2 {
    font-size: large;
    color: var(--bg-dorado-4);
}

.date-box ul {
    display: flex;
    margin: 0;
}

.date-box ul li {
    padding: 0 1rem;
    font-size: medium;
}

.date-box ul li:nth-child(1) {
    border-right: 1px solid var(--txt-body);
}

.date-box ul li:nth-child(2) {
    font-size: xx-large;
    font-weight: 800;
    color: var(--bg-dorado-4);
}

.date-box ul li:nth-child(3) {
    border-left: 1px solid var(--txt-body);
}

.date-time {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    text-align: center;
    user-select: none;
}

.date-time li {
    background-color: var(--bg-dorado-opacity-50);
    border-radius: 12px;
    flex: 1;
    height: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.date-time .time_number {
    font-size: x-large;
    color: var(--bg-dorado-4);
}

.date-time .time_txt {
    text-align: center;
    font-size: smaller;
}

/* -----------------------
        SECTION 4
--------------------------*/
.section-place {
    position: relative;
    background-color: var(--bg-section-dark);
}

.overlay-section-place {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay-section-place span {
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.overlay-section-place span:nth-child(1) {
    background-image: var(--img-overlay-points-1);
    height: 45px;
    bottom: 7%;
    right: 40%;
}

.overlay-section-place span:nth-child(2) {
    background-image: var(--img-overlay-points-2);
    height: 40px;
    top: 11%;
    left: 40%;
}

.overlay-section-place span:nth-child(3) {
    background-image: var(--img-overlay-leaf-3);
    height: 130px;
    left: -39%;
    top: 0%;
}

.overlay-section-place span:nth-child(4) {
    background-image: var(--img-overlay-leaf-2);
    height: 130px;
    right: -39%;
    bottom: 0%;
}

.box-place {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    position: relative;
    z-index: 2;
}

.place-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.place-info img {
    display: block;
    margin: 0 auto;
}

.place-info .place-txt {
    width: 90%;
}

.place-txt {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.place-txt h2 {
    color: var(--bg-dorado-2);
    font-size: large;
}

.place-btn {
    background: var(--bg-gradient);
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    color: var(--txt-body);
    font-weight: 700;
    text-decoration: none;
    user-select: none;
}

/* -----------------------
        SECTION 5
--------------------------*/
.section-slider {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slider-photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    75% {
        left: -300%;
    }

    90% {
        left: -400%;
    }

    100% {
        left: -400%;
    }
}

.slider-photo figure .img {
    width: 20%;
    float: left;
}

.slider-photo figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite;
}

.slider-photo .img {
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider-photo .img:nth-child(1) {
    background-image: var(--img-F1);
    background-position: 50% 20%;
}

.slider-photo .img:nth-child(2) {
    background-image: var(--img-F2);
    background-position: 20% 10%;
}

.slider-photo .img:nth-child(3) {
    background-image: var(--img-F3);
    background-position: 20% 22%;
}

.slider-photo .img:nth-child(4) {
    background-image: var(--img-F4);
    background-position: 20% 32%;
}

.slider-photo .img:nth-child(5) {
    background-image: var(--img-F5);
    background-position: 20% 5%;
}

.section-slider .slider-txt {
    background-color: var(--bg-dorado-opacity-50);
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.slider-txt b {
    color: var(--bg-dorado-4);
}
.slider-txt p {
    width: 80%;
}

/* -----------------------
        SECTION 6
--------------------------*/
.section-info-adicional {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.clothes-txt h2 {
    font-family: var(--font-great-vibes);
    font-size: xx-large;
    color: var(--bg-dorado-4);
    font-weight: 400;
}

.clothes-txt p {
    font-size: medium;
}

.info-envelope {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    font-size: medium;
}

.info-envelope img {
    display: block;
    margin: 0 auto;
}

.info-envelope P {
    width: 80%;
    font-size: medium;
}

/* -----------------------
        SECTION 7
--------------------------*/
.section-message {
    position: relative;
    background-color: var(--bg-section-dark);
}

.overlay-section-message {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay-section-message span {
    width: 100%;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.overlay-section-message span:nth-child(1) {
    background-image: var(--img-overlay-leaf-2);
    height: 130px;
    bottom: 0%;
    left: 43%;
}

.overlay-section-message span:nth-child(2) {
    background-image: var(--img-overlay-leaf-1);
    height: 130px;
    bottom: 0%;
    right: 43%;
}

.box-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 1rem;
    gap: .5rem;
    color: white;
    position: relative;
    z-index: 2;
}

.section-message p {
    line-height: 1.5rem;
    text-transform: uppercase;
}

.section-message b {
    font-family: var(--font-great-vibes);
    color: var(--bg-dorado-2);
    font-weight: 400;
    font-size: x-large;
}

/* -----------------------
        FOOTER
--------------------------*/
footer {
    background-color: var(--bg-footer);
    color: white;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: var(--bg-dorado-2);
}
